/* HOME */
#home {
	margin:0 auto;
	padding:30px;
	width:600px;
	/*background:#DBDBDB;*/
	background:#999966;
	color:#666666;
}
#home .boxtop { 
  background: url(/files/images/bordes_redondeados/faq/2/ne.gif) no-repeat top right; 
}
#home .boxtop div { 
  font-size: 0;
  height: 10px; 
  background: url(/files/images/bordes_redondeados/faq/2/nw.gif) no-repeat top left; 
}
#home .boxbottom { 
  background: url(/files/images/bordes_redondeados/faq/2/se.gif) no-repeat bottom right; 
}
#home .boxbottom div { 
  font-size: 0;
  height: 10px; 
  background: url(/files/images/bordes_redondeados/faq/2/sw.gif) no-repeat bottom left; 
}
#home p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:40px;
	text-indent:30px;
	line-height:18px;
}




/* LISTA DE EMPRESAS */
#tabla{}
#tabla tr.cabecera {color:#FBC509;background-color:#484848}

#tabla td.tipo {font-weight:bold; text-align:center}
#tabla td.PTC {color:#0033CC; background-color:#BAD8F8}
#tabla td.PTR {color:#FC2727; background-color:#F7BD93}

#tabla td.estado {font-weight:bold; text-align:center}
#tabla td.segura {color:#FFFFFF; background-color:#009900}
#tabla td.antiscam {color:#FF3300; background-color:#FFCC00}
#tabla td.scam {color:#CC3300; background-color:#FF0000}

#tabla td.centrado {text-align:center}
#tabla td.euro {color:#003399; background-color:#FFFF66}
#tabla td.dolar {color:#009933; background-color:#99FF99}
#tabla td.izquierda {text-align:left}
#tabla td.derecha {text-align:right}
#tabla td.metodo_pago {background:#FFFFFF}


#lista_empresas #titulo2 h3 {text-align:center; color:#0066FF}
#lista_empresas #titulo2 .ptc{ color:#0033FF}
#lista_empresas #titulo2 .ptr{ color:#FF0000}
#lista_empresas #titulo2 .totales{ color:#9999FF}
#lista_empresas #titulo2 .seguras{ color:#009900}
#lista_empresas #titulo2 .antiscam{ color:#FF9900}
#lista_empresas #titulo2 .scam{ color:#FF0000}

#lista_empresas .importante {color:#FF0000; text-decoration:underline; font-size:16px; font-weight:bold}

#lista_empresas .texto1 {
	margin-top:20px;
	padding:10px;
	font:Arial, Helvetica, sans-serif; font-size:12px;
	background-color:#FFD7D8;
	width:600px
}
#lista_empresas .texto1 a{
	text-decoration:underline;
	color:#0033FF;
	font-weight:bold
}
#lista_empresas .texto1 a:hover{
	text-decoration:underline;
	color:#FF6666;
	font-weight:bold
}

#submenu{
}
#submenu td{
	padding:2px;
}

#submenu td a{
	display:block; /* Lo muestras en bloque para darle ancho y alto */
	text-decoration:none;/* quitas el subrayado */
	text-indent:-10000px; /* remueves el texto */
}

#submenu td.ptc a{
background-image: url('/files/botones/ptc y ptr/images/ebbtcbinsmenu1_0.png');
height: 62px;/* alto de tu imagen */
width:44px;
}
#submenu td.ptc a:hover{
background-image: url('/files/botones/ptc y ptr/images/ebbtcbinsmenu1_2.png');
height: 62px;/* alto de tu imagen */
width:44px;
}

#submenu td.ptr a{
background-image: url('/files/botones/ptc y ptr/images/ebbtcbinsmenu2_0.png');
height: 62px;/* alto de tu imagen */
width:44px;
}
#submenu td.ptr a:hover{
background-image: url('/files/botones/ptc y ptr/images/ebbtcbinsmenu2_2.png');
height: 62px;/* alto de tu imagen */
width:44px;
}

#submenu td.seguras a{
background-image: url('/files/botones/Estados de PTC/images/ebbtcbinsmenu1_0.png');
height: 26px;/* alto de tu imagen */
width:105px;
}
#submenu td.seguras a:hover{
background-image: url('/files/botones/Estados de PTC/images/ebbtcbinsmenu1_1.png');
height: 26px;/* alto de tu imagen */
width:105px;
}

#submenu td.antiscam a{
background-image: url('/files/botones/Estados de PTC/images/ebbtcbinsmenu2_0.png');
height: 26px;/* alto de tu imagen */
width:105px;
}
#submenu td.antiscam a:hover{
background-image: url('/files/botones/Estados de PTC/images/ebbtcbinsmenu2_1.png');
height: 26px;/* alto de tu imagen */
width:105px;
}

#submenu td.scam a{
background-image: url('/files/botones/Estados de PTC/images/ebbtcbinsmenu3_0.png');
height: 26px;/* alto de tu imagen */
width:105px;
}
#submenu td.scam a:hover{
background-image: url('/files/botones/Estados de PTC/images/ebbtcbinsmenu3_1.png');
height: 26px;/* alto de tu imagen */
width:105px;
}


/* FAQ */

#faq .indice{
	background-color:#DCD9CD;
	width:378px;
	/*padding:10px;*/
	margin-bottom:15px;
}
#faq .boxtop { 
  background: url(/files/images/bordes_redondeados/faq/1/ne.gif) no-repeat top right; 
}
#faq .boxtop div { 
  font-size: 0;
  height: 10px; 
  background: url(/files/images/bordes_redondeados/faq/1/nw.gif) no-repeat top left; 
}
#faq .boxbottom { 
  background: url(/files/images/bordes_redondeados/faq/1/se.gif) no-repeat bottom right; 
}
#faq .boxbottom div { 
  font-size: 0;
  height: 10px; 
  background: url(/files/images/bordes_redondeados/faq/1/sw.gif) no-repeat bottom left; 
}
#faq .tit_indice{
	font-size:16px;
	font-weight:bold;
	color:#707070;
	border:3px solid #E6E6E6;
	padding:7px 15px;
	margin:10px;
}
#faq .cont_indice{
	font-size:12px;
	font-family:Georgia, "Times New Roman", Times, serif;
	line-height:21px;
}
#faq .cont_indice a{
	color:#666666;
}
#faq .cont_indice a:hover{
	color:#996600;
}
#faq .block_aq{
	background-color:#DBDBDB;
	/*padding-bottom:7px;*/
	margin-bottom:13px;
}
#faq .boxtop2 { 
  background: url(/files/images/bordes_redondeados/faq/2/ne.gif) no-repeat top right; 
}
#faq .boxtop2 div { 
  font-size: 0;
  height: 10px; 
  background: url(/files/images/bordes_redondeados/faq/2/nw.gif) no-repeat top left; 
}
#faq .boxbottom2 { 
  background: url(/files/images/bordes_redondeados/faq/2/se.gif) no-repeat bottom right; 
}
#faq .boxbottom2 div { 
  font-size: 0;
  height: 10px; 
  background: url(/files/images/bordes_redondeados/faq/2/sw.gif) no-repeat bottom left; 
}
#faq .pregunta{
	color:#996600;
	font:Geneva, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	padding: 20px 20px 10px 20px;
}
#faq p.respuesta{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-indent:30px;
	line-height:18px;
	padding: 0px 25px 5px 25px;
}
#faq .scam a{
	color:#FF0000;
	font-weight:bold
}
#faq .scam a:hover{
	color:#CC0000;
	font-weight:bold
}
#faq .antiscam a{
	color:#FF9900;
	font-weight:bold
}
#faq .antiscam a:hover{
	color:#FF6600;
	font-weight:bold
}
#faq .segura a{
	color:#009900;
	font-weight:bold
}
#faq .segura a:hover{
	color:#006600;
	font-weight:bold
}

#faq .aviso{
	padding:15px;
	background:#FFF;
	height:40px;
	border:#000000;
	border-style:solid;
}
#faq .enlace a{ color:#000000}
#faq .aviso .enlace a:hover{ color:#FFFFFF}
